body {
  background-color: #ede0d4;
}
#header {
  text-align: center;
}

#nav {
  background-color: #ede0d4;
  text-align: center;
}
#Beskrivelse {
  background-color: #e6ccb2;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
}

#Ingredienser {
  background-color: #ddb892;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
}

#how {
  background-color: #b08968;
  width: 320px;
  padding: 10px;
  border: 20px groove #7f5539;
  margin: 0;
}

/*Nedenunder er diverse fonts til de forskellige punkter på hjemmesiden */
h1 {
  font-family: "Exo", sans-serif;
}

h2 {
  font-family: "Kite One", sans-serif;
}
section {
  font-family: "Kanit", sans-serif;
}
nav ul {
  list-style-type: none;
}

/*Forsøg på at justere billedet så det ser pænere ud. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 600px;
  object-fit: contain;
}

/*CSS GRID TEST */
