/*Styling på forskellige articles (farve, padding, margin og andre sjove ting som text-align*/
body {
  background-color: #a4c3b2;
  margin: 0;
  height: 100vh;
}

header {
  text-align: center;
  background-color: #6b9080;
  padding: 60px;
  margin: 0;
}
nav ul {
  list-style-type: none;
  background-color: #a4c3b2;
  padding: 100px;
  text-align: center;
  margin: 0;
  font-size: medium;
}
#Beskrivelse {
  background-color: #cce3de;
  padding-left: 20px;
}

#Ingredienser {
  background-color: #eaf4f4;
  padding-left: 20px;
}

#how {
  background-color: #f6fff8;
  padding-left: 20px;
}

footer {
  background-color: #6b9080;
  color: white;
  text-align: center;
  font-weight: bold;
}

/*Justere billedet */
img {
  max-width: 50%;
  border-radius: 10%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
  border-style: ridge;
}

img:hover {
  opacity: 0.75;
}

/*Nedenunder er diverse fonts til de forskellige elements på hjemmesiden */
h1 {
  font-family: "Exo", sans-serif;
}

h2 {
  font-family: "Kite One", sans-serif;
}
article {
  font-family: "Kanit", sans-serif;
}

/*CSS GRID - HAR AFPRØVET FORSKELLIGE MEDIA QUERIES, MEN DE ØDELÆGGER BARE SIDENS LAYOUT, SÅ VALGTE AT SLETTE DEM*/
.container {
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav b img"
    "nav i h"
    "nav f f";
  grid-template-columns: auto;
  grid-template-rows: 18vh 40vh 40vh 2vh;
  margin: 0;
}
header {
  grid-area: header;
}

nav {
  grid-area: nav;
}
#Beskrivelse {
  grid-area: b;
}
img {
  grid-area: img;
}
#Ingredienser {
  grid-area: i;
}
#how {
  grid-area: h;
}
footer {
  grid-area: f;
}
